/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.dialogVPanel {
	margin: 5px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

.gwt-MenuBar-horizontal {
	background-color: #222222!important;
    background-image: -moz-linear-gradient(center top , #333333, #222222)!important;
    background-repeat: repeat-x!important;
	border: 0px!important;
}

.gwt-MenuItem-selected {
	background-color: #222222!important;
    background-image: -moz-linear-gradient(center top , #333333, #222222)!important;
    background-repeat: repeat-x!important;
	border: 0px!important;
}

.gwt-MenuBar.gwt-MenuBar-horizontal {
	float: right;
	padding-top: 10px;
	height: 30px;
}
