/* 
    Document   : newCascadeStyleSheet
    Created on : 28-oct-2011, 10:57:12
    Author     : Antonio
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
body {  background-color: #151d22;}

#header{ height: 5%; width:100%; color:whitesmoke; font-size: 20pt; font-style: italic; text-align: center;}
#wrapper {height:80%;  margin: auto; background-color: #151d22;}
/*#menu{height: 5%; width: 100%; color:gainsboro; font-size: 15pt; font-style: italic; padding-bottom: 2%; }*/
/*Estilo para el menu*/
ul#menu
{
	margin:0px 0px 5px 0px;
	padding:0;
	list-style-type:none;
	width:auto;
	position:relative;
	display:block;
	height:30px;
	font-size:12px;
	font-weight:bold;
	/*background:transparent url("images/nav_bg.png") repeat-x top left;*/
	font-family:Arial, Helvetica, sans-serif;
	border-bottom:1px solid #000000;
	border-top:1px solid #000000;
}

ul#menu li
{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
	
ul#menu li a
{
	display:block;
	float:left;
	color:#999999;
	text-decoration:none;
	font-weight:bold;
	padding:8px 20px 0 20px;
}
	
ul#menu li a:hover
{	
	color:#FFFFFF;
	height:22px;
	/*background:transparent url("images/nav_bg.png") 0px -30px no-repeat;*/
        border-bottom: 2px solid #00b7fc;
}
	

ul#menu li a.current
{
	display:inline;
	height:22px;
	/*background:transparent url("images/nav_bg.png") 0px -30px no-repeat;*/	
	float:left;
	margin:0;
}


/*******************************************************************************/
/*#imagenes{display:inline; width: 25%;padding-right: 20%;}
#localizacion{display:inline; width: 25%; padding-right: 20%;}
#musica{display:inline;}
#video{display:inline; width: 20%;padding-right: 20%; margin-left: 5%}*/



#right{
	background-color: #E4E4E4;
	border-radius: 6px 6px 6px 6px;
	color: #111111;
	    float: right;
	    height: 85%;
	    padding: 8px;
	    width: 15%;
	}
.flipR{ font-style: italic; text-align: center; float:right; width: 3%; background-color: #333333; color:white}

#main{float:left; min-height: 300px; padding-left:10px; width: 63%; color:gainsboro}

.flipL{ font-style: italic; text-align: center; float:left; width: 3%; background-color: #333333; color:white }
#left{height: 85%;float:left; width:15%; color:gainsboro}

#people{  height: 5%; bottom: 20pt; clear: both; color:gainsboro; padding: 1% 1% 10% 4%;}
 
#fbShare{display: inline}
#contentFoot {text-align: center;}
#FbLike{ border-style: none; overflow:hidden; width:450px; height:30px;}

/*AGREGADOS POR MANOLO*/
#images{
    margin: 0px auto;
}

.contenedorfoto{
    float:left;
   width:230px;
   height:169px;
   margin: 10px;
   padding:5px;
   background-color:#f5f7f9;
   border-right: #a5a7aa solid 1px;
   border-bottom: #a5a7aa solid 1px;
   text-align:center;

}
.contenedorfoto span{
    font-family: Arial;
    font-size: 8pt;
    font-weight: bold;
    color:gray;
    }


/* AGREGADOS POR ALBERTO */
.masInfoUsuarioHeader {
	font-size: 1.5em;
    padding: 20px;
    position: relative;
    top: -15px;
}
.masInfoUsuarioHeader{
	color:#2E64FE;
}
a {text-decoration: none;}
.masInfoUsuario{
	font-size: 0.75em;
}
/*#footer{height: 10%;  width:100%;  bottom: 0; clear: both; color:gainsboro; padding: 1%  }*/
#footer{height: 5%;  width:auto; bottom: 0; clear: both; color:gainsboro; padding: 1%;  background-color: black;}

.usuario {
    background-color: #333;
    display: inline;
    float: left;
    height: 82px;
    margin-left: 15px;
    margin-top: 1%;
    padding: 7px;
    text-decoration: none;
    -moz-border-radius: 15px;
	border-radius: 15px;
}

.usuario a{
	color:white;
	text-decoration:none;
	font-weight:bold;
}
.imagenUsuarioFooter{
	display: block;
	margin-left: auto;
	margin-right: auto; 
}
.masInfoUsuarioFooter{
	font-size: 1em;
	color:#333;
}

.youtube-player {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#masInfo{
	float: right;
    margin:15px 72px 0px 0px;
    display: block;
    
}
#masInfo {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff0505), color-stop(1, #870000) );
	background:-moz-linear-gradient( center top, #ff0505 5%, #870000 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0505', endColorstr='#870000');
	background-color:#ff0505;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:white;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}
#masInfo:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #870000), color-stop(1, #ff0505) );
	background:-moz-linear-gradient( center top, #870000 5%, #ff0505 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#870000', endColorstr='#ff0505');
	background-color:#870000;
}#masInfo:active {
	position:relative;
	top:1px;
}

.ui-helper-reset {
    border: 0 none;
    font-size: 80%;
    line-height: 1.3;
    list-style: none outside none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
}
#footerLista {
	display: block;
}
#footerLista li{
	display: inline;
}

.loading{
	background-color: #CCCCCC;
    min-height: 400px;
    min-width: 100%;
	zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
    padding-top: 300px;
    position: relative;
    text-align: center;
    top: -700px;
    z-index: 1;
}