<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"           
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>ScrumWeb login</title>
        <link rel="stylesheet" type="text/css" href="styles/main.css" />          
    </h:head>
    <h:body>        
        <ui:composition template="/initTemplate.xhtml">
            <ui:define name="content">                
                <p:growl id="growl" sticky="false" life="4000" showDetail="true"/>
                <h:form style="width: 60%;" id="loginform">
                    <p:outputPanel>
                        <p:panel header="Login">
                            <h:panelGrid columns="2" cellpadding="5">
                                <h:outputText value="#{msg.Email}: " />  
                                <h:inputText value="#{usuarioController.email}"/>
                                <h:outputText value="#{msg.Password}: " />
                                <h:inputSecret value="#{usuarioController.pass}" />                                
                            </h:panelGrid>
                            <br/>
                            <p:commandButton value="#{msg.Enviar}" actionListener="#{usuarioController.doLogin()}" 
                                             oncomplete="handleLoginRequest(xhr, status, args)" 
                                             update=":growl"/>
                            <p:commandButton value="#{msg.Registrarse}" action="#{usuarioController.registrarse}" ajax="false" /> 

                        </p:panel> 
                    </p:outputPanel>
                </h:form>
                <script type="text/javascript">  
            function handleLoginRequest(xhr, status, args) {  
                
                if(args.validationFailed || !args.loggedIn) {  
                    jQuery('#loginform').effect("shake", { times:3 }, 100);  
                } else {
                   window.location="faces/main.xhtml";
                }  
            }            
                </script>    
            </ui:define>
            <ui:define name="footer">

            </ui:define>
        </ui:composition>
    </h:body>
</html>

