<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://java.sun.com/jsp/jstl/core"           
        xmlns:f="http://java.sun.com/jsf/core"      
        xmlns:ui="http://java.sun.com/jsf/facelets">

    <html>
        <ui:composition template="/template.xhtml">            
            <ui:define name="content">                
                <p:growl id="messages" showDetail="true" life="3000" /> 
                    <p:panel id="board">
                        <h:outputText id="headerTodo" value="To do"/>
                        <h:outputText id="headerDoing" value="Doing"/>
                        <h:outputText id="headerDone" value="Done!"/>

                        <p:outputPanel id="todopanel" styleClass="todoContainer" layout="block">
                            <p:dataGrid id="tareasTodo" var="todo" value="#{tareaBean.listaTareasTodo}" columns="2" styleClass="gridtareas" emptyMessage="">                                                    
                                <p:column>
                                    <p:panel styleClass="postit" id="postitpanel">                          
                                        <h:form>
                                            <p:graphicImage value="../images/chincheta.png" style="clear:right;" />
                                            <h:outputLabel value="#{todo.descripcion}"/>                                                                                          
                                            <br/> 
                                            <p:inplace>  
                                                <p:ajax event="save" update="@form" />
                                                <p:inputText value="#{todo.duracion}"  
                                                             required="true" label="duracion"
                                                             maxlength="3">
                                                    <f:validateLongRange minimum="1" maximum="999"/>
                                                </p:inputText>
                                            </p:inplace>                                    
                                            <p:graphicImage value="../images/urgent_1.png" style="height:70px;width:70px;" rendered="#{tareaBean.urgent(todo)}"  />
                                        </h:form>                                        
                                        <p:draggable opacity="0.5" containment="board" revert="true" handle="" scope="doing"/>                            
                                    </p:panel>   
                                </p:column>
                            </p:dataGrid>                            
                        </p:outputPanel>

                        <p:outputPanel id="doingpanel" styleClass="doingContainer" layout="block" >                        
                            <p:dataGrid id="tareasDoing" var="doing" value="#{tareaBean.listaTareasDoing}" columns="2" styleClass="gridtareas" emptyMessage="" >                        
                                <p:column>
                                    <p:panel styleClass="postit" >
                                        <h:form>
                                            <p:graphicImage value="../images/chincheta.png" />
                                            <h:outputLabel value="#{doing.descripcion}"/>
                                            <br/>
                                            <h:outputText value="#{doing.usuarioId.nombre} #{doing.usuarioId.apellidos}" />
                                            <br/>
                                            <p:inplace>                                                  
                                                <p:inputText value="#{doing.duracion}"  
                                                             required="true" label="duracion"
                                                             maxlength="3">
                                                    <f:validateLongRange minimum="1" maximum="999"/>
                                                </p:inputText>
                                            </p:inplace>
                                        </h:form>
                                        <p:draggable opacity="0.5" containment="board" revert="true" scope="done"/>
                                    </p:panel>  
                                </p:column>
                            </p:dataGrid> 
                        </p:outputPanel>    

                        <p:outputPanel id="donepanel" styleClass="doneContainer" layout="block">                        
                            <p:dataGrid id="tareasDone" var="done" value="#{tareaBean.listaTareasDone}" columns="2" styleClass="gridtareas" emptyMessage="">                        
                                <p:column>
                                    <p:panel styleClass="postit" >
                                        <h:form>
                                            <p:graphicImage value="../images/chincheta.png" />
                                            <h:outputLabel value="#{done.descripcion}" styleClass="postitLabel"/>
                                            <br/>
                                            <h:outputLabel value="#{done.usuarioId.nombre} #{done.usuarioId.apellidos}"/>
                                            <br/>
                                            <p:graphicImage value="../images/tick.png" width="20px" height="20px"/>  
                                        </h:form>
                                    </p:panel>   
                                </p:column>
                            </p:dataGrid>
                        </p:outputPanel>
                        
                        <p:droppable for="doingpanel" tolerance="touch" 
                                     activeStyleClass="ui-state-highlight" 
                                     datasource="tareasTodo"
                                     scope="doing">
                            <p:ajax listener="#{tareaBean.onDropDoing}" 
                                    update="board"/>  
                        </p:droppable>

                        <p:droppable for="donepanel" tolerance="touch" 
                                     activeStyleClass="ui-state-highlight" 
                                     datasource="tareasDoing"
                                     scope="done">
                            <p:ajax listener="#{tareaBean.onDropDone}"  
                                    update="board"/>  
                        </p:droppable>                                        
                    </p:panel> 
                <h:form>                    
                    <p:commandButton value="Save" actionListener="#{tareaBean.save}" 
                                     update=":messages"
                                     oncomplete="window.location.href = window.location.pathname"/>  
                    <p:commandButton value="Cancel" actionListener="#{tareaBean.cancel}" 
                                     update=":messages" 
                                     oncomplete="window.location.href = window.location.pathname" />                                                                                            
                </h:form>
            </ui:define>
            <ui:define name="leftcolumn">
                
            </ui:define>
        </ui:composition>
    </html>
</f:view>

