<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"           
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <ui:composition template="/template.xhtml">
        <ui:define name="content">
            <f:view>

                <h:form prependId="false">  
                    <p:dataTable id="logTable" var="log" value="#{logBean.logs}" paginator="true" rows="10"  
                                 paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                                 rowsPerPageTemplate="10,20,50" paginatorPosition="bottom" widgetVar="logTable" emptyMessage="#{msg.No_resultados}" sortBy="#{log.fecha}">  

                        <f:facet name="header">
                            Logs
                        </f:facet>


                        <p:column sortBy="#{log.fecha}" sortFunction="#{logBean.comparar}">  
                            <f:facet name="header">  
                                #{msg.Fecha} 
                            </f:facet>  
                            <h:outputText value="#{log.fecha}">
                                <f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss"></f:convertDateTime>
                            </h:outputText>  
                        </p:column>  

                        <p:column filterBy="#{log.proyectoId.nombre}">  
                            <f:facet name="header">  
                                #{msg.Proyecto}  
                            </f:facet>  
                            <h:outputText value="#{log.proyectoId.nombre}" />  
                        </p:column> 

                        <p:column filterBy="#{log.descripcion}">  
                            <f:facet name="header">  
                                #{msg.Descripcion}  
                            </f:facet>  
                            <h:outputText value="#{log.descripcion}" />  
                        </p:column> 

                        <p:column filterBy="#{log.usuarioId.nombre}">  
                            <f:facet name="header">  
                                #{msg.Usuario}  
                            </f:facet>  
                            <h:outputText value="#{log.usuarioId.nombre}" />  
                        </p:column> 
                        
                    </p:dataTable>  
                </h:form> 

            </f:view>
        </ui:define>
    </ui:composition>
</html>

