<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:p="http://primefaces.org/ui"
        xmlns:c="http://java.sun.com/jsp/jstl/core"           
        xmlns:f="http://java.sun.com/jsf/core"      
        xmlns:ui="http://java.sun.com/jsf/facelets">

    <html>
        <ui:composition template="/template.xhtml">            
            <ui:define name="content">    
                <p:panel id="panelGordo" > 
                    <p:outputPanel id="panelBurndown" rendered="#{estadisticaBean.burndown}">
                        <p:panel>
                            <p:lineChart value="#{estadisticaBean.modelBurndown}" 
                                         legendPosition="ne" 
                                         title="#{msg.BurndownActual}" 
                                         xaxisLabel="#{msg.Dias}"
                                         yaxisLabel="#{msg.Puntos}" />    
                        </p:panel>
                        <br/>
                        <p:panel>
                            <h:outputLabel value="#{msg.Deadline}:" style="font-weight:bold" />
                            <h:outputLabel value="#{estadisticaBean.sprintActual.fin}">
                                <f:convertDateTime pattern="dd/MM/yyyy" />
                            </h:outputLabel>
                            <br/>
                            <h:outputLabel value="#{msg.Progreso}:" style="font-weight:bold"/>
                            <h:outputLabel value="#{estadisticaBean.progress}%"/>
                            <br/>
                            <h:outputLabel value="#{msg.Velocidad}:" style="font-weight:bold"/>
                            <h:outputLabel value="#{estadisticaBean.velocidadFormatted}"/>
                            <br/>
                            <h:outputLabel value="#{msg.Prediccion}:" style="font-weight:bold"/>
                            <h:outputLabel value="#{estadisticaBean.forecast}">
                                <f:convertDateTime pattern="dd/MM/yyyy"/>
                            </h:outputLabel>                       
                            <br/> <br/>
                            <h:outputLabel value="GOOD!" style="font-weight:bold;color:green" rendered="#{estadisticaBean.sprintGood}"/>
                            <p:graphicImage value="../images/good.png" style="width:40px" rendered="#{estadisticaBean.sprintGood}"/>
                            <h:outputLabel value="BAD!" style="font-weight:bold;color:red;" rendered="#{not estadisticaBean.sprintGood}"/>
                            <p:graphicImage value="../images/bad.png" style="width:40px" rendered="#{not estadisticaBean.sprintGood}"/>
                        </p:panel>
                    </p:outputPanel>

                    <p:panel id="panelBurnup" rendered="#{estadisticaBean.burnup}">
                        <p:lineChart value="#{estadisticaBean.modelBurnUp}" 
                                     legendPosition="ne"
                                     title="Burnup del proyecto actual" 
                                     xaxisLabel="Sprint"
                                     yaxisLabel="Puntos" />    
                    </p:panel>
                    <br/>
                    <p:panel id="pie" rendered="#{estadisticaBean.pie}">
                        <p:pieChart id="pieChart" value="#{estadisticaBean.modelPie}" 
                                    legendPosition="w"  
                                    title="Tareas del sprint actual" style="width:400px;height:300px" />  
                    </p:panel>
                </p:panel>
            </ui:define>

            <ui:define name="leftcolumn">
                <h:form>
                    <h3>#{msg.Menu}</h3>  
                    <p:menu>  
                        <p:submenu label="#{msg.Menu_estadisticas}">  
                            <p:menuitem value="#{msg.Burndown}" icon="ui-icon-document" actionListener="#{estadisticaBean.redirigir(1)}" update=":panelGordo" />  
                            <p:menuitem value="#{msg.Burnup}" actionListener="#{estadisticaBean.redirigir(2)}" icon="ui-icon-clipboard" update=":panelGordo"/> 
                            <p:menuitem value="#{msg.Tareas_Sprint}" actionListener="#{estadisticaBean.redirigir(3)}" icon="ui-icon-clipboard" update=":panelGordo"/>
                        </p:submenu>                           
                    </p:menu>  
                </h:form>
            </ui:define>
        </ui:composition>
    </html>
</f:view>
