// Bootstrap Defaults (reset & style)
@import "../bootstrap/bootstrap.less";

/* Pachange */
.content-header {
        .page-header; // from bootstrap
	background-image: url("../images/page-header-background.png");
	background-position: right;
	background-repeat: no-repeat;
}

/* Override some defaults */
html, body {
	background-color: #eee;
}
body {
	padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: normal !important;
}
.container > footer p {
	text-align: center; /* center align it with the container */
}
.container {
	width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}
/* The white background content wrapper */
.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
	box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
/* Page header tweaks */
.content-header {
	background-color: #f5f5f5;
	padding: 20px 20px 10px;
	margin: -20px -20px 20px;
}
.topbar .btn {
	border: 0;
}

/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 40px 0px 70px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}


/* Events */
.event h2 {
    a { color: inherit; text-decoration: none; }
    alt { color: #BFBFBF; margin-right: 6px; font-size: medium; }
    small { margin-left: 6px; }
}

/* Social plugin */
.dc-social-float-content > div {
	width: 80px;
	display: inline-block;
}
/* Photos */
.pwi_album {
	display: inline-block;
	margin: 0 29px 20px 0;
}
.pwi_photo {
	display: inline-block;
	width: 70px;
}
/* Videos */
.videoholder { display: none; visibility: collapse; } // Flash sucks!
.videothumbails {}
.videothumbnails > div {
	display: inline-block;
	width: 145px;
	vertical-align: top;
}

/* Pills Adjustments */
.pills > li {
	float: none;
}
/* Form Adjustments */
.input-small, input.small, textarea.small, select.small { width: 98px; }
form .row { margin-left: -40px; }
form.form-stacked div.clearfix.error { 
        padding-top: 3px; padding-bottom: 7px; padding-left: 10px;
        margin-top: -3px; margin-left: -10px; margin-bottom: 2px; 
}


/* Gmaps Style */
.gmaps-container {
	width: 560px;
	height: 150px;
}

/* Bootstrap modifications */
.topbar-fill { // from .topbar .fill {
    background-color: #222;
    #gradient > .vertical(#333, #222);
    @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
    .box-shadow(@shadow);
}
.all-span {
    display: inline;
    float: left;
    margin-left: 20px;
}
.ul-unstyled {
    list-style: none;
    margin-left: 0;
}

/* Semantic Fixs */
div.container .gwt-MenuBar-horizontal { .topbar-fill; }
.topbar > div { .topbar-fill; }
.topbar .search { .pull-right; }
#content-container { .span10; .all-span;}
#sidebar { 
    .span4; 
    .all-span; 
    float: right; //FIX para evitar q se mueva mientras se carga la pagina por ajax
    ul { .ul-unstyled; }
}

/* Miscelaneos */

.exampleArea {
	padding: 10px;
}
		
.cursor {
	cursor: pointer;
}

.enlacep {
	color: #0069D6;
	cursor: pointer;
}
		
.enlacep:hover {
	text-decoration: underline;
}

.pt10 {
	padding-top: 10px;
}

.pane {
	clear: both;
	padding-top: 10px;
}
		
.w90 {
	width: 90%;
	margin-bottom: 10px;
}

.mt10 {
	margin-top: 10px;
}

.clear {
	clear:both;
}

.floatl {
	float: left;
}

.ffin {
	float: right; margin-right: 10px;
}

.ttotal {
	margin-top: 5px; margin-bottom: 10px;
}

.floatr {
	float: right;
}

.playa:hover {
	background-color: #ADD8E6;
}
		
.pane {
	clear: both;
	padding-top: 10px;
}

.suiname {
	float: left; margin-left: 20px; width: 80%;
}

.w150 {
	width: 150px;
	display: inline-block;
}

.iavatar {
	float: left; margin-top: 20px;
}

.sperfil {
	float: left; margin-left: 20px; padding-top: 30px;
}

.lperfil {
	padding-left: 20px; font-size: 24px;
}

.negrita {
	font-weight: bold;
}
		
.mm40 {
	margin-bottom: 40px;
	margin-left: 40px;
}
		
.w90auto {
	width: 90%;
	margin: auto;
}

.nplaya {
	margin-bottom: 10px; margin-top: 40px;
}

.ndesc {
	float: left; margin-left: 15px;
}

.content h2 {
	color: #777777;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0 15px;
    text-align: center;
}

/* fix scroll-x en contenido principal */
div.content > div > div > div {
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

