<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui"
        xmlns:pm="http://primefaces.org/mobile"
        contentType="text/html">
    
    <pm:page title="Login">
        <pm:view id="log">
            <pm:content>
                <h:form>
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputText value="Email: " />  
                        <h:inputText value="#{gestionMovil.email}"/>
                        <h:outputText value="Contraseña: " />
                        <h:inputSecret value="#{gestionMovil.pass}"/>
                    </h:panelGrid>
                    <p:commandButton value="Enviar" action="#{gestionMovil.doLoginMovil()}" ajax="false"/>
                    <h:outputText value="#{gestionMovil.error}"/>
                </h:form>
            </pm:content>
        </pm:view>
    </pm:page>
</f:view>

